html
  head
    title Fluwa Server Console
    style.
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        white-space: pre-line;
      }
      body {
        font: 13px Helvetica, Arial;
      }
  body
    #rooms

    br
    input(id='roomname', placeholder='Room Name')
    input(type='button', id='createroom', value='Create Room')
    br

    #log

    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script.
      var socket = io.connect('localhost:8080');

      // Setup
      var global = {
        rooms: {}
      }
      socket.emit('all games');
      
      // Interface
      $('#createroom').click(function() {
        var name = $('#roomname').val();
        global.pendingroom = name;
        socket.emit('create game', name);
      });

      // Functions
      function createRoom(name, host) {
        global.rooms[name] = {
          host: host,
          guest: null
        };
        updateRooms();
      }
      function updateRooms() {
        for (var name in global.rooms) {
          var host = global.rooms[name].host, 
              guest = global.rooms[name].guest;
          $('#rooms').append(name + ' | ' + host + ', ' + guest + '<br />');
        }
      }
      function logit(err) {
        $('#log').append(err + '<br />');
      }

      // IO
      socket.on('all games', function (rooms) {
        global.rooms = rooms;
      });
      socket.on('create game succeed', function () {
        createRoom(global.pendingroom, socket);        
      });
      socket.on('create game fail', function (err) {
        logit(err);
      });
      socket.on('new game', function (name, host) {
        createRoom(name, host);
      });